@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
}


body{
    background-color: #C14040;
}

/* barre navigation Header */
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-radius: 15px;

}

.nav-link{
    color: #C14040;
    text-decoration: none;

}

.nav-item{
    list-style: none;
    display: block;
    width: 100%;
    margin-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.nav :first-child{
    text-align: left;
    font-size: 1.2em;
}

.nav :nth-child(2){
    text-align: right;
    font-size: 0.8em;

}

/* Cartes image */

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.image-item img{

    width: 100%;
    height: auto;
}

.image-card{
    width: calc((100%/3.5));
    padding: 10px;
    background-color: #982C2C;
    border-radius: 15px;
    margin: 10px;
}

.image-item{

    /* overflow: hidden; */
    height: auto;
    width: 100%;

}

.image-title{
    text-align: center;

}
.image-title a{
    color: white;
    font-family: 'Bree Serif', serif;

}

/* Personnage SOLO */

.Solo-card{
    color: white;
    width: 100%;
    margin-right: 50px;

}

.Solo-card h1{
    text-align: center;
}
.Solo-card .container{
    display: flex;
    flex-direction: row;
    /* margin-right: 50%; */
    width: 100%;
    /* margin: 50px; */
}


.image-current{
    width:40%;
    align-self: center;
    margin: 15px;
}

.card-container{
    width: 60%;
    background-color: rgb(49, 48, 48,0.2);
    padding: 15px;
    padding-bottom: 35px ;
    border-radius: 10px;
    margin: 20px;
}
.image-current img{
    width: 100%;
    height: auto;
}

.type-item{
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    padding: 12px;
    padding-top: 9px ;
    padding-bottom: 9px ;
    font-size: 0.8em;
}
.Solo-card h4{
    font-weight: bold;

}

.stats-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stat-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 50px;
    line-height: 0.2em;
    font-size: 0.9em;
}
.stat-name
{
    width: 20%;
}
.stat-value{
    width: 20%;
    text-align: center;
}

/*---------- barre de stats progressive ------------*/
.lifeBar{
    width: 250px;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.total{
    /* width: 30%; */
    background-color: rgba(17, 17, 17, 0.3);
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    
}


.progress {
    background-color: White;
    /* width: 70%; */
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px ;

    /* display: inline-block; */
}
/* --------------------------------------------- */
.return{
    text-align: center;
    /* flex: none; */
}
.return a{
    text-align: center;
    color: white;
    text-decoration: none;
}